.btnestilos{
    border-color: rgb(255, 87, 51)!important;
    background-color: rgb(255, 87, 51)!important;
    color: white!important;
    margin-top: 90%;

}
#titulo{

    text-align: center!important;
    font-family: 'Courgette', cursive;
    cursor: default;;
    color:rgb(185, 104, 5);
    font-size: 50px;
}
img{
    width: 50%!important;
    margin:auto;
}

  body {
    padding:0;
    margin:0;
    background-image: url("../img/jardin.jpg");
  }


#modalcomprar{
    background-color: rgb(255, 87, 51)!important;
}

.card-title{
    font-size: 25px;
    font-weight: bold;
    margin-left: 30%;
}

  .color1{
    background-image: linear-gradient(to bottom, rgb(224, 111, 18) 0%, rgb(185, 92, 16) 100%);
    border-radius: 10px;
    padding:8px;
    padding-bottom: 15px;
    border-style: solid;
}
.color2{
    background-image: linear-gradient(to bottom, rgb(224, 111, 18) 0%, rgb(185, 92, 16) 100%);
    border-radius: 10px;
    padding:8px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin-bottom: 10px;
}
img{
    margin-left:20%;
}

@media only screen and (max-width: 1000px) {
    .colcomprar{
        display:none;
    }
  }

  @media only screen and (min-width: 1000px) {
    .colcomprar-off{
        display:none;
    }
  }

.spaceform{
    margin-bottom: 5px;
}

.error-vacio{
    color:rgb(180, 0, 0);
    margin-left: 2px;
}

ul li{
    font-weight: bold;
}