@media only screen and (max-width:450px) {
    .tableText {
        font-size: 12px;
    }

    .tableText2 {
        font-size: 7px;
    }
}

@media only screen and (max-width:736px) and (min-width:460px) {
    .tableText {
        font-size: 20px;
    }

    .tableText2 {
        font-size: 12px;
    }
}

/* input[type="text"] {
    width: 100%;
    font-size: 1.2em;
    padding: 10px 11px;
    border-width: 1px;
    border-color: #0000007a;
    margin-bottom: 25px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(0, 0, 0, 0.103);
    color: black;
} */


thead {
    max-width: 100% !important;
}

.botonagregar{
    background-color: #2A5A24!important;
    color: white!important;
}


.eliminar{
    color :white;
    background-color:#CB3535!important ;
}


.buttones {
    background-color: rgb(185, 72, 7) !important;

    color: #fff;
    border: transparent;

    font-size: 1.2em;

    transition: 0.5s;
}

.buttones:hover {
    background-color: rgb(145, 56, 5) !important;

    color: #fff;
    border: transparent;
    transition: 0.5s;
    cursor: pointer;
}



#tabla-ciudades_wrapper {
    width: 80% !important;
    margin: auto !important;
}

/* ----------------------CAMBIOS ANA--------------------------------- */

.estilotarjeta{
    background: linear-gradient(90deg, rgba(230,91,2,1) 16%, rgba(180,70,0,1) 40%, rgba(94,37,0,1) 90%) !important;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.org-btn{
    background-color: #e65b02 !important; 
    border-color: #e65b02 !important;
    color: white !important;
}

.org-btn-drk{
    background-color: #535353 !important; 
    border-color: #535353 !important;
    color: white !important;
}

.titulo{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 40px;
    /* line-height: 48px; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.agg-estilo{
    width: 80% !important;
    margin: auto !important;
    text-align-last: end;
}

.org-btn:focus{
    outline: none;
    outline: none;
    outline-offset: none;
}

a:hover,
a:active,
a:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus {
  outline: 0;
}
/* ----------------------FIN CAMBIOS ANA--------------------------------- */

.colorletra{
color: black;
}

label{
    color: black;  
}


.fondo{

    background-image: url('https://userscontent2.emaze.com/images/50b09f05-c065-41f4-b4d3-43ae1d3ad744/3bca2bae5db42a7550a20043238139d0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    
    
    padding: 50px 100px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}