@media only screen and (max-width:450px) {
    .tableText {
        font-size: 12px;
    }

    .tableText2 {
        font-size: 7px;
    }
}

@media only screen and (max-width:736px) and (min-width:460px) {
    .tableText {
        font-size: 20px;
    }

    .tableText2 {
        font-size: 12px;
    }
}

input[type="text"] {
    width: 100%;
    font-size: 1.2em;
    padding: 10px 11px;
    border-width: 1px;
    border-color: #0000007a;
    margin-bottom: 25px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(0, 0, 0, 0.103);
    color: black;
}


thead {
    max-width: 100% !important;
}


.buttones {
    background-color: rgb(185, 72, 7) !important;

    color: #fff;
    border: transparent;

    font-size: 1.2em;

    transition: 0.5s;
}

.buttones:hover {
    background-color: rgb(145, 56, 5) !important;

    color: #fff;
    border: transparent;
    transition: 0.5s;
    cursor: pointer;
}



#tabla-ciudades_wrapper {
    width: 80% !important;
    margin: auto !important;
}