.estilotarjeta{
    background-image: url('https://images.unsplash.com/photo-1543005472-1b1d37fa4eae?ixlib=rb-1.2.1&w=1000&q=80')!important;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    
}

.bordeado{
    border: rgb(133, 125, 125) 0.2px solid;
}

@media only screen and (max-width:1024px) and (min-width:736px){
	
}
@media only screen and (max-width:1440px) and (min-width:1024px){
	
    
}

.org-btn{
    background-color: #e65b02 !important; 
    border-color: #e65b02 !important;
    color: white !important;
}

.org-btn-drk{
    background-color: #535353 !important; 
    border-color: #535353 !important;
    color: white !important;
}